<body>
    <div><h1>Order received!</h1><h1>Thanks </h1><h1 style="color: #047">{{clientName}}</h1><h1> for ordering from us!</h1></div>
    <img src="/images/logo.png" onclick="window.location.href='/'">
</body>

<style>
    body{
        background: #aaa;
    }
    img{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 200px;
        cursor: pointer;
    }
    h1{
        font-size: 40px;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: normal;
    }
    body > div{
        position: absolute;
        top: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>