<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/styles/indexStyle.css">
    </head>

    <body>
        <div id="homeWrapper">
            <div style="position: relative">
                <img src="/icons/logo.png" id="logo">
                <ul id="mainNav">
                    <li onclick="window.location.href='/manage/foods'">Food list</li>
                    <li onclick="window.location.href='/manage/contact'">Contact us</li>
                    <li onclick="window.location.href='/manage/about'">About us</li>
                    <li style="padding: 5px 30px" onclick="window.location.href='/manage/account'"><img src="/icons/account.png"></li>
                </ul>
            </div>


            <div id="mainBackground">
                <img src="/images/main.jpg">
                <div class="center">
                    <h1>Restaurant Name</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quibusdam corrupti</p>
                    <button>About us</button>
                </div>
            </div>

            <div class="navColor"></div>

            <div id="home2">
                <div id="home2Sec1">
                    <img src="/images/cup1.jpg">
                </div>
                <div id="home2Sec2">
                    <p>Lorem ipsum dolor sit</p>
                    <h1 style="color:rgb(223, 196, 107)">Lorem ipsum dolor sit, amet consectetur</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab repellat aspernatur, placeat mollitia aliquid, sunt assumenda optio, consequatur quia impedit distinctio repudiandae sit soluta dicta ut perspiciatis error corporis deserunt.</p>
                    <button>Our coffee</button>
                </div>
            </div>

            <div class="navColor"></div>

            <div id="home3">
                <div class="center">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab repellat aspernatur, placeat mollitia aliquid, sunt assumenda optio, consequatur quia impedit distinctio repudiandae sit soluta dicta ut perspiciatis error corporis deserunt.</p>
                    <button style="background: #111">Food list</button>
                </div>
            </div>

            <div class="navColor"></div>

            <div id="home4">
                <div class="center">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab repellat aspernatur, placeat mollitia aliquid, sunt assumenda optio, consequatur quia impedit distinctio repudiandae sit soluta dicta ut perspiciatis error corporis deserunt.</p>
                    <button style="background: #111">Contact us</button>
                </div>
            </div>

            <div class="navColor"></div>

            <div id="home5">
                <div id="home5Wrapper1">
                    <img src="/images/dec43.jpg">
                    <div class="center">
                        <h2>Lorem, ipsum dolor sit amet consectetur</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab repellat aspernatur, placeat mollitia aliquid, sunt assumenda</p>
                        <button>Coffee</button>
                    </div>
                </div>
                <div id="home5Wrapper2">
                    <div>
                        <img src="/images/dec42.jpg">
                        <div class="center">
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/images/dec41.jpg">
                        <div class="center">
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/images/dec44.jpg">
                        <div class="center">
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                    <div>
                        <img src="/images/dec45.jpg">
                        <div class="center">
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navColor"></div>

            <div id="home6">
                <div id="footer1">
                    <ul>
                        <li style="font-size: 20px; color: #fff;">Lorem</li>
                        <li>ipsum</li>
                        <li>sit amet</li>
                        <li>consectetur</li>
                        <li>adipisicing</li>
                        <li>elit</li>
                    </ul>
                    <ul>
                        <li style="font-size: 20px; color: #fff;">Lorem ipsum</li>
                        <li>ipsum sit amet</li>
                        <li>sit amet</li>
                        <li>consectetur</li>
                        <li>adipisicing</li>
                        <li>elit</li>
                    </ul>
                    <ul>
                        <li style="font-size: 20px; color: #fff;">Lorem adipisicing</li>
                        <li>ipsum sit amet</li>
                        <li>sit amet</li>
                        <li>consectetur</li>
                        <li>adipisicing</li>
                        <li>elit consectetur</li>
                    </ul>
                    <ul>
                        <li style="font-size: 20px; color: #fff;">Lorem ipsum</li>
                        <li>ipsum</li>
                        <li>sit amet sit amet</li>
                        <li>consectetur</li>
                        <li>adipisicing elit</li>
                        <li>elit ipsum</li>
                    </ul>
                </div>

                <div id="footer2">
                    <div class="center">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit nesciunt.</p>
                        <div>
                            <img src="/icons/fb.png">
                            <img src="/icons/insta.png">
                            <img src="/icons/phone.png">
                            <img src="/icons/location.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

    <script>
        
    </script>
</html>